<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <Appender name="cloud" class="com.splunk.logging.HttpEventCollectorLogbackAppender">
        <url></url>
        <token></token>
<!--        <index>main</index>-->
<!--        <source>cartapp</source>-->
<!--        <sourcetype>json</sourcetype>-->
<!--        <batch_size_count>1</batch_size_count>-->
        <disableCertificateValidation>true</disableCertificateValidation>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%msg</pattern>
        </layout>
    </Appender>

    <Appender name="local" class="com.splunk.logging.HttpEventCollectorLogbackAppender">
        <url></url>
        <token></token>
<!--        <index>main</index>-->
<!--        <source>cartapp</source>-->
<!--        <sourcetype>json</sourcetype>-->
<!--        <batch_size_count>1</batch_size_count>-->
        <disableCertificateValidation>true</disableCertificateValidation>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%msg</pattern>
        </layout>
    </Appender>

    <logger name="main_logger" level="info">
        <appender-ref ref="local" />
    </logger>

</configuration>
