<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">
  <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/styles.css}">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

  <title>Note</title>
</head>

<body class="bg-light text-black">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
      <!--        <img src="/bin/img/app-logo.png" width="30" height="30" class="transition rotating d-inline-block align-top" alt="">-->
      SuperDuperDrive
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav" id="user-main-nav">
        <a class="nav-item nav-link" href="/logout" id="logoutLink">Log Out</a>
      </div>
    </div>
  </nav>

  <br />

  <div class="container">
    <div>
      <div class="">
        <p><a href="/home">Back</a></p>
        
        <h1>Edit</h1>

        <p id="errorMessage" th:if="${noteGetError}" th:text="${noteGetError}"></p>

        <form th:object="${noteDto}" th:action="@{/notes/{id}(id=${noteDto.noteId})}" th:method="put">
          <input type="hidden" name="noteId" id="note-id">
          <div class="form-group">
            <label for="note-title" class="col-form-label">Title</label>
            <input th:field="*{title}" type="text" name="noteTitle" class="form-control" id="noteTitle"
              maxlength="20" required />
          </div>
          <div class="form-group">
            <label for="note-description" class="col-form-label">Description</label>
            <textarea th:field="*{description}" class="form-control" name="noteDescription"
              id="noteDescription" rows="5" maxlength="1000" required></textarea>
          </div>
          <button id="noteSubmit" type="submit" class="d-none"></button>
        </form>
      </div>
      <div class="modal-footer">
        <button id="noteSubmitProxy" type="button" class="btn btn-primary" onclick="$('#noteSubmit').click();">Save changes</button>
      </div>
    </div>
  </div>

  <script th:src="@{/js/jquery-slim.min.js}"></script>
  <script th:src="@{/js/popper.min.js}"></script>
  <script th:src="@{/js/bootstrap.min.js}"></script>
</body>

</html>