<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/styles.css}">

    <title>Welcome</title>
  </head>
  <body class="bg-light text-black">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">
<!--        <img src="/bin/img/app-logo.png" width="30" height="30" class="transition rotating d-inline-block align-top" alt="">-->
        SuperDuperDrive
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav" id="user-main-nav">
          <a class="nav-item nav-link" href="/login">Log In</a>
          <a class="nav-item nav-link" href="/signup">Sign Up</a>
        </div>
      </div>
    </nav>

    <div class="jumbotron jumbotron-fluid header-jumbotron">
      <div class="container">
        <h1 class="display-4">Super Duper Drive</h1>
        <p class="lead">Think DropBox or Google Drive, but better!</p>
      </div>
    </div>

    <div class="pos-rel fill wallpaper-box-1">
      <div class="dimmer"></div>
      <div class="pos-rel">
        <h1 class="text-white text-center">Safe and secure on our cloud servers!</h1>
      </div>
    </div>

    <div class="jumbotron jumbotron-fluid header-jumbotron">
      <div class="container">
        <h1 class="display-4">Never worry about losing important information again!</h1>
        <a class="btn btn-primary" title="go to sign up page" href="/signup">
          Click here to Sign Up!
        </a>
      </div>
    </div>

    <script th:src="@{/js/jquery-slim.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>

  </body>
</html>
